.how-works {
  padding-top: 20px;
  padding-bottom: 42px;
}

.how-works__title {
  margin: 0;
  margin-bottom: 38px;

  @include title-text(40px);
  color: $black;
}

.how-works__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.how-works__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
