.map {
  position: relative;

  width: 100%;
  min-height: 362px;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}

.map__image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;

  margin: 0 auto;
  display: block;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}
