.promo {
  padding-top: 27px;

  color: $white;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    background-image: linear-gradient(0deg, $basic-green-overlay, $basic-green-overlay), url("../img/index-background-mobile.webp");
    background-size: 320px 302px;
    background-position: top center;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(0deg, $basic-green-overlay, $basic-green-overlay), url("../img/index-background-mobile@2x.webp");
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    min-height: 810px;

    color: $black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
    min-height: 0;
  }
}

.promo__wrapper {
  @media (min-width: $tablet-width) {
    position: relative;

    padding-left: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;

  @include title-text;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;

    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    max-width: 462px;
  }
}

.promo__text {
  margin: 0;
  margin-bottom: 29px;

  @include font-oswald;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 462px;
  }
}

.promo__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 200px;
    left: 30px;
    z-index: -1;

    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    top: -82px;
    right: 220px;
    left: auto;
    z-index: 0;

    width: 552px;
    height: 499px;
  }
}

.promo__button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding: 14px 26px;
    min-width: 0;
  }
}
