.content-wrapper {
  width: $mobile-content-width;
  padding-right: $mobile-content-padding;
  padding-left: $mobile-content-padding;

  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    &--mobile-nav {
      width: 100%;
      padding: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: $tablet-content-width;
    padding-right: $tablet-content-padding;
    padding-left: $tablet-content-padding;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-content-width;
    padding-right: $desktop-content-padding;
    padding-left: $desktop-content-padding;
  }
}
