@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

@mixin font-oswald {
  font-family: "Oswald", "Arial", sans-serif;
}

@mixin title-text($line-height: 36px) {
  @include font-oswald;
  font-size: 36px;
  line-height: $line-height;
  font-weight: 400;
}

@mixin track {
  padding: 3px 5px;
  box-sizing: border-box;
  width: 84px;
  height: 14px;

  background-color: $white;
  border: 1px solid #cdcdcd;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 428px;
    height: 6px;

    background-color: #dcdcdc;
    border: none;
  }
}

@mixin thumb {
  appearance: none;

  box-sizing: border-box;
  width: 35px;
  height: 6px;

  background-color: $basic-green;
  border-radius: 6px;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-top: -14px;
    width: 34px;
    height: 34px;

    border: 12px solid $white;
    border-radius: 50%;

    box-shadow: 0 0 1px 1px #cdcdcd;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));

    &:hover {
      filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:active {
      box-shadow: 0 0 1px 1px $basic-green;
      filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
    }
  }
}

@mixin style-range {
  &::-moz-range-track {
    @include track;
  }

  &::-ms-track {
    @include track;
  }

  &::-webkit-slider-runnable-track {
    @include track;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-thumb {
    @include thumb;
  }

  &::-webkit-slider-thumb {
    @include thumb;
  }

  // &::-ms-fill-lower {

  // }

  // &::-ms-fill-upper {

  // }
}
